.DS_Store
.idea
*.iml
*.xml
03_ObjectsAndClasses/Cat/.idea/workspace.xml
.out
03_ObjectsAndClasses/Cat/out/
03_ObjectsAndClasses/Cat/.idea/workspace.xml
03_ObjectsAndClasses/Airport/out/
04_NumbersStringsAndDates/IntegerExperiments/out/
